header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #114B5F;
  border-bottom: 10px solid #E4FDE1;
  padding: 10px 20px;
}

h1 {
  font-family: "Bree Serif";
  color: #FFFFFF;
  text-shadow: 2px 2px 0px #028090;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-right: 40px;
}

a:hover {
  color: #E4FDE1;
}

a::before {
  content: "";
  background-color: #F45B69;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block; 
  background-color: #456990;
  box-shadow: 5px 5px 0px #E4FDE1;
  padding: 18px 20px;
  margin-right: 0px;
  transition: transform 150ms linear;
}

#button:hover {
  transform: scale(1.075);
  opacity: 0.8;
}



/* 
ANOTAÇÕES:
display
inline: 
+ mesma linha, 
- não dá pra definir width e height, 
* ganha comportamento de uma palavra 
* o que define o tamanho é o conteúdo da tag

block: (Quando ocupa toda a linha)
- não fica na mesma linha,
+ consigo definir width e height,
* não tem comportamento de palavras
* o que define a largura (width) é sempre o pai, exemplo, no caso do nav o pai é o header,
* o que define a altura (height) são os elementos filhos, ou seja, o conteúdo.

inline-block:
+ fica na mesma linha,
+ permite definir altura e largura,
* utiliza o comportamento de palavras,
* o que define o tamanho dele é o conteúdo,

*/